* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto/Roboto-VariableFont_wdth\wght.ttf);
}

@font-face {
  font-family: Dancing_Script;
  src: url(../fonts/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}

body,
html {
  font-family: Roboto;
}

.container {
  margin: auto;
  max-width: 75vw;
}

.navbar {
  border-bottom: 1px solid;
}

.navbar a {
  color: black;
}

.logoAndNav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 30px;
  font-family: Dancing_Script;
}

nav {
  gap: 35px;
  display: flex;
}

nav a {
  font-size: 15px;
}

.bars {
  width: 50px;
  display: none;
  cursor: pointer;
}
.bars img {
  width: 100%;
}
